.roulette-wrapper {
    position: relative;
    display: inline-block;
    filter: drop-shadow(0 0 15px rgba(0,0,0,0.3));
}

#pin {
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
    width: 0; height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 35px solid #f1e7e7;
    z-index: 10;
    filter: drop-shadow(0 4px 2px rgba(0,0,0,0.4));
}